{
  "access_token": "c2f0343d-8be9-41f3-9707-1719ebdc45ae",
  "token_type": "bearer",
  "refresh_token": "428e02e1-c056-411e-af7d-83d203edcb6b",
  "expires_in": 43199,
  "scope": "com.etvnet.persons com.etvnet.media.browse com.etvnet.media.history com.etvnet.media.fivestar com.etvnet.media.comments com.etvnet.media.bookmarks com.etvnet.media.live com.etvnet.notifications com.etvnet.media.watch",
  "expires": 1468742469
}